.container {
  max-width: 1200px;
  margin: 0 auto;
}

.ttt {
  background-image: url("../image/cover.svg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
