#hero-banner{
    .hero-banner{
        .button{
           .getquotenow{
            border-radius: 37px;
            background-color:$bg-btn-color ;
            padding: 10px 15px;
            color: white;
            margin: 5px 5px;
            border: none;
           }
           .learnmore{
            border-radius: 37px;
            padding: 10px 15px;
            color:$bg-btn-color  ;
            border: 1px solid $bg-btn-color ;
            background-color: transparent;
           }
        }
    }
}
.footer{
    .footer-top{
        .footer-top-right{
            button{
            background-color:$bg-btn-color ;
            padding: 10px 15px;
            color: white;
            margin: 5px 5px;
            border: none;
            }
        }
    }
}